body {
  margin: 0;
}
#main {
  
  display: flex;
  min-height: calc(100vh - 40vh);
  background: rgb(247, 231, 183)
}

#main > article {
  flex: 1;
}

#main > nav, 
#main > aside {
  flex: 0 0 10vw;
  background: rgb(192, 222, 232);

}

#main > nav {
  order: -1;
}

article { 
  padding: 200px;
  justify-content: center;
  align-items: center;
}

nav, aside {
  margin-top: 0px;
  width:400%;
}
aside{
  display: inline-block;
}

header{
  background: rgb(247, 231, 183);
  /* height: 0px; */
 
} 
/* #photo{
  float: left;
  max-width: 50%;
  object-fit: cover;
  object-position: -20% 0
} */
footer {
  background: rgb(192, 222, 232);
  height: 20vh;
  padding: 1em;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

body {
  display: block;
  margin: 4px auto;
  padding: 0%;
  background: rgb(192, 222, 232);

}

.header-title {
  line-height: 190px;
  text-align: center;

  /* white-space: nowrap */
}

h1 {
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 76px;;
  color: rgb(0, 0, 0);
}

p {
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: rgb(0, 0, 0);
  background-color: rgb(192, 222, 232);
}

/* .showHolidays {
  display: flex;
  flex-wrap: wrap
  margin-right: -15px;
  margin-left: 100px;
  display: block;
  width: 100%;
  overflow-x: auto;
} */
#table-responsive {
  width: 100%;
  overflow-x: auto;
}
.title-country {
  font: 95% Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color:rgb(0, 0, 0);
}

#country-list { 
  color: rgb(18, 84, 206);
  text-decoration: underline;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  right: 20;
    width: 100%;
    padding-right: 0;
    padding-left: 15px;

}

.form1 {
  font: 95% Arial, Helvetica, sans-serif;
  position: relative;
	max-width: 400px;
	/* margin: 10px auto; */
	text-align: center;
  padding: 16px;
	background: #F7F7F7;
  margin: 0px 0px 30px 140px;


}

.form1 h4 {
  background: rgb(0, 0, 0);
	padding: 20px 0;
  font: 95% Arial, Helvetica, sans-serif;
	font-size: 140%;
	font-weight: 100;
	color: #fff;
}

.form1 input[type="submit"],
.form1 input[type="button"] {
	box-sizing: border-box;
	font: 95% Arial, Helvetica, sans-serif;
  font-size: 120%;
	width: 100%;
	padding: 3%;
	background: rgb(202, 2, 2);
	border-bottom: 2px solid rgb(202, 2, 2);;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}

.form1 input[type="submit"]:hover,
.form1 input[type="button"]:hover{
	background: #b5750e;
}

.form1 input[type="text"] {
  width: 90%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 4%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

#holiday-table { 
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #212529;
  text-align: center;
  border-collapse: collapse; 
  /* word-wrap: break-word */
  flex: 0 0 50%;
  position: relative;
  /* right: 20; */
  margin: 23px 70px 30px 15px;
}

#holiday-table td, #holiday-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#holiday-table tr:nth-child(even){background-color: #f2f2f2;}

#holiday-table tr:hover {background-color: #ddd;}

#holiday-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #3a91c8;
  color: white;
}

#pre-scrollable {
overflow-y: scroll;
max-height: 500px;
}
